<!DOCTYPE html>
<html>
<head>

	<title>{{ pageTitle|raw }}</title>

	<meta charset="UTF-8" />
	<meta http-equiv="cleartype" content="on" />

	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Bootstrap -->
	<link rel="stylesheet" href="{{ app.request.baseUrl }}/assets/admin/css/bootstrap.css">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

	<!-- jQuery & Bootstrap -->
	<script src="{{ app.request.baseUrl }}/assets/admin/js/jquery-2.1.0.min.js"></script>
	<script src="{{ app.request.baseUrl }}/assets/admin/js/bootstrap.min.js"></script>

</head>
<body>

	<div class="navbar navbar-default navbar-static-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{ path('admin.index') }}">MyFirstCMS</a>
			</div>

			{# User is logged in: show nagivation #}
			{% if user is defined %}
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="{{ path('admin.blog.overview') }}">Blog</a></li>
					{# <li><a href="{{ path('admin.comments.overview') }}">Comments</a></li> #}
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{{ path('admin.auth.logout') }}">Logout ({{ user.firstname }})</a></li>
                </ul>
			</div>

			{# User is not logged in: only show "log in" button in nav #}
			{% else %}
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="active"><a href="#">Log in</a></li>
				</ul>
			</div>
			{% endif %}

		</div>
	</div>

	<div class="container">
		<h1>{{ pageTitle|raw }}</h1>
		{% block pageContent %}
			Hello!
		{% endblock %}
	</div>

</body>
</html>