{% extends 'layout.twig' %}

{% set pageTitle = 'Contacten overzicht' %}


{% block pageContent %}
    <div id="filters">
        <dl>
            <dt><label>Toon: </label></dt>
            <dd id="filterLinks">
                <a href="index.php?filter=all" id="lnkAll" class="active" data-filter="contact">iedereen</a> (<span id="numAll">11</span>) &ndash;
                <a href="index.php?filter=family" id="lnkFamily" data-filter="family">familie</a> (<span id="numFamily">1</span>) &ndash;
                <a href="index.php?filter=friend" id="lnkFriends" data-filter="friend">vrienden</a> (<span id="numFriends">4</span>) &ndash;
                <a href="index.php?filter=colleague" id="lnkColleagues" data-filter="colleague">collega's</a> (<span id="numColleagues">3</span>) &ndash;
                <a href="index.php?filter=other" id="lnkOther" data-filter="other">andere</a> (<span id="numOther">3</span>)
            </dd>
        </dl>
    </div>
    <div id="content" class="clearfix">
        <div class="add">
            + <a href="add.php">nieuw contact</a>&hellip;
        </div>

        <section id="contacts">
            {# Listing contacs #}
            {% if contacts %}
                {% for contact in contacts %}
                    <article class="contact friend clearfix" id="contact_{{ contact.id }}"  data-search="{{ contact.name }} {{ contact.email }} {{ contact.comments }}">
                        <h1>{{ contact.name }}</h1>
                        <a href="#"><img src="files/avatars/avatar_{{ contact.id }}.jpg" alt="{{ contact.name }}" class="thumb"></a>
                        <ul class="menu">
                            <li>&gt; <a href="edit.php?id={{ contact.id }}" class="edit" data-id="30">bewerken</a>&hellip;</li>
                            <li>&gt; <a href="delete.php?id={{ contact.id }}" class="delete" data-id="30">verwijderen</a>&hellip;</li>
                        </ul>
                        <p class="toolbar">
                            {% if contact.comments %}
                                <a href="#" class="comments tooltip"><img src="img/icons/info.gif" alt="icon comments"><span>{{ contact.comments }}</span></a>
                            {% endif %}
                            <a href="mailto:{{ contact.email }}" title="email versturen" class="lnkmail"><img src="img/icons/mail.png" alt="icon mail"></a>
                        </p>
                    </article>
                {% endfor %}
            {% else %}
                <li>No contacts to show</li>

            {% endif %}
        </section>
    </div>
{% endblock %}